In [1]:
import pandas as pd

df_training_full = pd.read_csv("training.csv", na_values=['na'])

df_training_full.head()

,id,target,sensor1_measure,sensor2_measure,sensor3_measure,sensor4_measure,sensor5_measure,sensor6_measure,sensor7_histogram_bin0,sensor7_histogram_bin1,...,sensor105_histogram_bin2,sensor105_histogram_bin3,sensor105_histogram_bin4,sensor105_histogram_bin5,sensor105_histogram_bin6,sensor105_histogram_bin7,sensor105_histogram_bin8,sensor105_histogram_bin9,sensor106_measure,sensor107_measure
0,1,0,76698,NaN,2.130706e+09,280.0,0.0,0.0,0.0,0.0,...,1240520.0,493384.0,721044.0,469792.0,339156.0,157956.0,73224.0,0.0,0.0,0.0
1,2,0,33058,NaN,0.000000e+00,NaN,0.0,0.0,0.0,0.0,...,421400.0,178064.0,293306.0,245416.0,133654.0,81140.0,97576.0,1500.0,0.0,0.0
2,3,0,41040,NaN,2.280000e+02,100.0,0.0,0.0,0.0,0.0,...,277378.0,159812.0,423992.0,409564.0,320746.0,158022.0,95128.0,514.0,0.0,0.0
3,4,0,12,0.0,7.000000e+01,66.0,0.0,10.0,0.0,0.0,...,240.0,46.0,58.0,44.0,10.0,0.0,0.0,0.0,4.0,32.0
4,5,0,60874,NaN,1.368000e+03,458.0,0.0,0.0,0.0,0.0,...,622012.0,229790.0,405298.0,347188.0,286954.0,311560.0,433954.0,1218.0,0.0,0.0

In [2]:
df_test = pd.read_csv("test.csv", na_values=['na'])
df_test.head()

,id,sensor1_measure,sensor2_measure,sensor3_measure,sensor4_measure,sensor5_measure,sensor6_measure,sensor7_histogram_bin0,sensor7_histogram_bin1,sensor7_histogram_bin2,...,sensor105_histogram_bin2,sensor105_histogram_bin3,sensor105_histogram_bin4,sensor105_histogram_bin5,sensor105_histogram_bin6,sensor105_histogram_bin7,sensor105_histogram_bin8,sensor105_histogram_bin9,sensor106_measure,sensor107_measure
0,1,66888,NaN,2.130706e+09,332.0,0.0,0.0,0.0,0.0,0.0,...,544762.0,504820.0,1597028.0,631494.0,5644.0,5448.0,11096.0,1982.0,0.0,0.0
1,2,91122,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,...,696774.0,345742.0,939332.0,943744.0,504048.0,203698.0,287374.0,36566.0,0.0,0.0
2,3,218924,NaN,NaN,NaN,NaN,NaN,0.0,280.0,119070.0,...,1032974.0,866000.0,1645644.0,1154924.0,3549128.0,1550716.0,15900.0,0.0,NaN,NaN
3,4,16,0.0,3.000000e+01,28.0,0.0,0.0,0.0,0.0,0.0,...,70.0,24.0,40.0,12.0,56.0,0.0,0.0,0.0,0.0,0.0
4,5,39084,NaN,1.054000e+03,1032.0,0.0,0.0,0.0,0.0,0.0,...,276304.0,123720.0,225722.0,281462.0,295244.0,256146.0,241074.0,2372.0,0.0,0.0

In [3]:
#Combined both Train and Test Data set to do preprocessing together # and set flag for both as well
df_training_full['Type'] = 'Train' 
df_test['Type'] = 'Test'
fullData = pd.concat([df_training_full,df_test],axis=0,sort=True)
fullData.dtypes

Type                         object
id                            int64
sensor100_measure           float64
sensor101_measure           float64
sensor102_measure           float64
sensor103_measure           float64
sensor104_measure           float64
sensor105_histogram_bin0    float64
sensor105_histogram_bin1    float64
sensor105_histogram_bin2    float64
sensor105_histogram_bin3    float64
sensor105_histogram_bin4    float64
sensor105_histogram_bin5    float64
sensor105_histogram_bin6    float64
sensor105_histogram_bin7    float64
sensor105_histogram_bin8    float64
sensor105_histogram_bin9    float64
sensor106_measure           float64
sensor107_measure           float64
sensor10_measure            float64
sensor11_measure            float64
sensor12_measure            float64
sensor13_measure            float64
sensor14_measure            float64
sensor15_measure            float64
sensor16_measure            float64
sensor17_measure            float64
sensor18_measure            float64
sensor19_measure            float64
sensor1_measure               int64
                             ...
sensor7_histogram_bin3      float64
sensor7_histogram_bin4      float64
sensor7_histogram_bin5      float64
sensor7_histogram_bin6      float64
sensor7_histogram_bin7      float64
sensor7_histogram_bin8      float64
sensor7_histogram_bin9      float64
sensor80_measure            float64
sensor81_measure            float64
sensor82_measure            float64
sensor83_measure            float64
sensor84_measure            float64
sensor85_measure            float64
sensor86_measure            float64
sensor87_measure            float64
sensor88_measure            float64
sensor89_measure            float64
sensor8_measure             float64
sensor90_measure            float64
sensor91_measure            float64
sensor92_measure            float64
sensor93_measure            float64
sensor94_measure            float64
sensor95_measure            float64
sensor96_measure            float64
sensor97_measure            float64
sensor98_measure            float64
sensor99_measure            float64
sensor9_measure             float64
target                      float64
Length: 173, dtype: object

In [4]:
fullData.head()

,Type,id,sensor100_measure,sensor101_measure,sensor102_measure,sensor103_measure,sensor104_measure,sensor105_histogram_bin0,sensor105_histogram_bin1,sensor105_histogram_bin2,...,sensor92_measure,sensor93_measure,sensor94_measure,sensor95_measure,sensor96_measure,sensor97_measure,sensor98_measure,sensor99_measure,sensor9_measure,target
0,Train,1,0.0,0.0,2801180.0,2445.80,2712.0,965866.0,1706908.0,1240520.0,...,0.0,0.0,202710.0,37928.0,14745580.0,1876644.0,0.0,0.0,0.0,0.0
1,Train,2,0.0,0.0,3477820.0,2211.76,2334.0,664504.0,824154.0,421400.0,...,0.0,0.0,103330.0,16254.0,4510080.0,868538.0,0.0,0.0,0.0,0.0
2,Train,3,0.0,0.0,1040120.0,1018.64,1020.0,262032.0,453378.0,277378.0,...,0.0,0.0,65772.0,10534.0,300240.0,48028.0,0.0,0.0,0.0,0.0
3,Train,4,0.0,0.0,0.0,1.08,54.0,5670.0,1566.0,240.0,...,2014.0,370.0,48.0,18.0,15740.0,1822.0,20174.0,44.0,0.0,0.0
4,Train,5,0.0,0.0,21173050.0,1116.06,1176.0,404740.0,904230.0,622012.0,...,0.0,0.0,149474.0,35154.0,457040.0,80482.0,98334.0,27588.0,0.0,0.0

In [5]:
numeric_cols = list()
for k,v in fullData.iteritems():
    if v.dtype in ['int64', 'float64']:
        numeric_cols.append(k)


fullData[numeric_cols] = fullData[numeric_cols].fillna(fullData[numeric_cols].mean())
fullData.head()

,Type,id,sensor100_measure,sensor101_measure,sensor102_measure,sensor103_measure,sensor104_measure,sensor105_histogram_bin0,sensor105_histogram_bin1,sensor105_histogram_bin2,...,sensor92_measure,sensor93_measure,sensor94_measure,sensor95_measure,sensor96_measure,sensor97_measure,sensor98_measure,sensor99_measure,sensor9_measure,target
0,Train,1,0.0,0.0,2801180.0,2445.80,2712.0,965866.0,1706908.0,1240520.0,...,0.0,0.0,202710.0,37928.0,14745580.0,1876644.0,0.0,0.0,0.0,0.0
1,Train,2,0.0,0.0,3477820.0,2211.76,2334.0,664504.0,824154.0,421400.0,...,0.0,0.0,103330.0,16254.0,4510080.0,868538.0,0.0,0.0,0.0,0.0
2,Train,3,0.0,0.0,1040120.0,1018.64,1020.0,262032.0,453378.0,277378.0,...,0.0,0.0,65772.0,10534.0,300240.0,48028.0,0.0,0.0,0.0,0.0
3,Train,4,0.0,0.0,0.0,1.08,54.0,5670.0,1566.0,240.0,...,2014.0,370.0,48.0,18.0,15740.0,1822.0,20174.0,44.0,0.0,0.0
4,Train,5,0.0,0.0,21173050.0,1116.06,1176.0,404740.0,904230.0,622012.0,...,0.0,0.0,149474.0,35154.0,457040.0,80482.0,98334.0,27588.0,0.0,0.0

In [6]:
print("numeric columns:", numeric_cols)
# this spams

numeric columns: ['id', 'sensor100_measure', 'sensor101_measure', 'sensor102_measure', 'sensor103_measure', 'sensor104_measure', 'sensor105_histogram_bin0', 'sensor105_histogram_bin1', 'sensor105_histogram_bin2', 'sensor105_histogram_bin3', 'sensor105_histogram_bin4', 'sensor105_histogram_bin5', 'sensor105_histogram_bin6', 'sensor105_histogram_bin7', 'sensor105_histogram_bin8', 'sensor105_histogram_bin9', 'sensor106_measure', 'sensor107_measure', 'sensor10_measure', 'sensor11_measure', 'sensor12_measure', 'sensor13_measure', 'sensor14_measure', 'sensor15_measure', 'sensor16_measure', 'sensor17_measure', 'sensor18_measure', 'sensor19_measure', 'sensor1_measure', 'sensor20_measure', 'sensor21_measure', 'sensor22_measure', 'sensor23_measure', 'sensor24_histogram_bin0', 'sensor24_histogram_bin1', 'sensor24_histogram_bin2', 'sensor24_histogram_bin3', 'sensor24_histogram_bin4', 'sensor24_histogram_bin5', 'sensor24_histogram_bin6', 'sensor24_histogram_bin7', 'sensor24_histogram_bin8', 'sensor24_histogram_bin9', 'sensor25_histogram_bin0', 'sensor25_histogram_bin1', 'sensor25_histogram_bin2', 'sensor25_histogram_bin3', 'sensor25_histogram_bin4', 'sensor25_histogram_bin5', 'sensor25_histogram_bin6', 'sensor25_histogram_bin7', 'sensor25_histogram_bin8', 'sensor25_histogram_bin9', 'sensor26_histogram_bin0', 'sensor26_histogram_bin1', 'sensor26_histogram_bin2', 'sensor26_histogram_bin3', 'sensor26_histogram_bin4', 'sensor26_histogram_bin5', 'sensor26_histogram_bin6', 'sensor26_histogram_bin7', 'sensor26_histogram_bin8', 'sensor26_histogram_bin9', 'sensor27_measure', 'sensor28_measure', 'sensor29_measure', 'sensor2_measure', 'sensor30_measure', 'sensor31_measure', 'sensor32_measure', 'sensor33_measure', 'sensor34_measure', 'sensor35_measure', 'sensor36_measure', 'sensor37_measure', 'sensor38_measure', 'sensor39_measure', 'sensor3_measure', 'sensor40_measure', 'sensor41_measure', 'sensor42_measure', 'sensor43_measure', 'sensor44_measure', 'sensor45_measure', 'sensor46_measure', 'sensor47_measure', 'sensor48_measure', 'sensor49_measure', 'sensor4_measure', 'sensor50_measure', 'sensor51_measure', 'sensor52_measure', 'sensor53_measure', 'sensor54_measure', 'sensor55_measure', 'sensor56_measure', 'sensor57_measure', 'sensor58_measure', 'sensor59_measure', 'sensor5_measure', 'sensor60_measure', 'sensor61_measure', 'sensor62_measure', 'sensor63_measure', 'sensor64_histogram_bin0', 'sensor64_histogram_bin1', 'sensor64_histogram_bin2', 'sensor64_histogram_bin3', 'sensor64_histogram_bin4', 'sensor64_histogram_bin5', 'sensor64_histogram_bin6', 'sensor64_histogram_bin7', 'sensor64_histogram_bin8', 'sensor64_histogram_bin9', 'sensor65_measure', 'sensor66_measure', 'sensor67_measure', 'sensor68_measure', 'sensor69_histogram_bin0', 'sensor69_histogram_bin1', 'sensor69_histogram_bin2', 'sensor69_histogram_bin3', 'sensor69_histogram_bin4', 'sensor69_histogram_bin5', 'sensor69_histogram_bin6', 'sensor69_histogram_bin7', 'sensor69_histogram_bin8', 'sensor69_histogram_bin9', 'sensor6_measure', 'sensor70_measure', 'sensor71_measure', 'sensor72_measure', 'sensor73_measure', 'sensor74_measure', 'sensor75_measure', 'sensor76_measure', 'sensor77_measure', 'sensor78_measure', 'sensor79_measure', 'sensor7_histogram_bin0', 'sensor7_histogram_bin1', 'sensor7_histogram_bin2', 'sensor7_histogram_bin3', 'sensor7_histogram_bin4', 'sensor7_histogram_bin5', 'sensor7_histogram_bin6', 'sensor7_histogram_bin7', 'sensor7_histogram_bin8', 'sensor7_histogram_bin9', 'sensor80_measure', 'sensor81_measure', 'sensor82_measure', 'sensor83_measure', 'sensor84_measure', 'sensor85_measure', 'sensor86_measure', 'sensor87_measure', 'sensor88_measure', 'sensor89_measure', 'sensor8_measure', 'sensor90_measure', 'sensor91_measure', 'sensor92_measure', 'sensor93_measure', 'sensor94_measure', 'sensor95_measure', 'sensor96_measure', 'sensor97_measure', 'sensor98_measure', 'sensor99_measure', 'sensor9_measure', 'target']

In [7]:
# normalize
fullData[numeric_cols] = fullData[numeric_cols]/fullData[numeric_cols].max()
fullData.head()

,Type,id,sensor100_measure,sensor101_measure,sensor102_measure,sensor103_measure,sensor104_measure,sensor105_histogram_bin0,sensor105_histogram_bin1,sensor105_histogram_bin2,...,sensor92_measure,sensor93_measure,sensor94_measure,sensor95_measure,sensor96_measure,sensor97_measure,sensor98_measure,sensor99_measure,sensor9_measure,target
0,Train,0.000017,0.0,0.0,0.000623,0.023069,0.030683,0.005922,0.017378,0.015918,...,0.000000e+00,0.000000,0.040779,0.044347,0.032041,0.014773,0.000000,0.000000,0.0,0.0
1,Train,0.000033,0.0,0.0,0.000773,0.020862,0.026406,0.004075,0.008391,0.005407,...,0.000000e+00,0.000000,0.020787,0.019005,0.009800,0.006837,0.000000,0.000000,0.0,0.0
2,Train,0.000050,0.0,0.0,0.000231,0.009608,0.011540,0.001607,0.004616,0.003559,...,0.000000e+00,0.000000,0.013231,0.012317,0.000652,0.000378,0.000000,0.000000,0.0,0.0
3,Train,0.000067,0.0,0.0,0.000000,0.000010,0.000611,0.000035,0.000016,0.000003,...,3.170718e-07,0.000007,0.000010,0.000021,0.000034,0.000014,0.000177,0.000012,0.0,0.0
4,Train,0.000083,0.0,0.0,0.004708,0.010527,0.013305,0.002482,0.009206,0.007981,...,0.000000e+00,0.000000,0.030069,0.041103,0.000993,0.000634,0.000860,0.007273,0.0,0.0

In [8]:
from sklearn.model_selection import train_test_split

train=fullData[fullData['Type']=="Train"]
test=fullData[fullData['Type']=="Test"]

numeric_cols.remove("target") #no answers kek
X = train[numeric_cols].values
y = train["target"].values

X_train, X_valid, y_train, y_valid = train_test_split(X, y, test_size=0.30, random_state=42)

In [9]:
#import necessary libraries to build model
import random
from sklearn.ensemble import RandomForestRegressor
from tqdm import tqdm
from joblib import Parallel, delayed

random.seed(42)
rf_list = list()
SUPERFOREST_SIZE = 25  # n x microforests

def pmethod():
    x_subset, _, y_subset, _ = train_test_split(X_train, y_train, test_size=0.7, random_state=42)
    rf = RandomForestRegressor(n_estimators=10)
    rf.fit(x_subset, y_subset)
    return rf
    
rf_list = Parallel(n_jobs=6)(delayed(pmethod)() for _ in tqdm(range(SUPERFOREST_SIZE)))

100%|██████████████████████████████████████████████████████████████████████████████████| 25/25 [01:24<00:00,  3.37s/it]

In [10]:
from sklearn.metrics import accuracy_score

def rn(n):
    if n > 0.5:
        return 1
    else:
        return 0

def calc_stats(Vx, Vy):
    """
    Vx: predictions
    Vy: actual
    """
    assert len(Vx) == len(Vy), "length mismatch: %s/%s" % (len(Vx), len(Vy))
    cp=0;cn=0;fp=0;fn=0
    for i in range(len(Vx)):
        if rn(Vx[i]) == 1 and rn(Vy[i]) == 1:
            cp+=1
        elif rn(Vx[i]) == 0 and rn(Vy[i]) == 0:
            cn+=1
        elif rn(Vx[i]) == 1 and rn(Vy[i]) == 0:
            fp+=1
        elif rn(Vx[i]) == 0 and rn(Vy[i]) == 1:
            fn+=1
        else:
            raise Exception("wtf")
    return cp, cn, fp, fn

def coag_superforest(sf, data):
    # print("data length: ", len(data))
    predict_train_list = list()
    for rf in rf_list:
        predict_train_list.append(rf.predict(data))

    predict_train = list()
    for i in range(len(data)):
        s=0
        for pt in predict_train_list:
            s+=pt[i]
        predict_train.append(rn(s/len(predict_train_list)))
    return predict_train

# number of trees used
print('Number of Trees used : ', rf.n_estimators)

# predict the target on the train dataset
predict_train = coag_superforest(rf_list, X_train)
print('Targets found on train data %.2f/%.2f'%(sum(predict_train),sum(y_train)))
print("Correct positives: %s\nCorrect negatives: %s\nFalse positives: %s\nFalse negatives: %s" % calc_stats(predict_train, y_train))

# Accuray Score on train dataset
accuracy_train = accuracy_score(y_train,predict_train)
print('accuracy_score on train dataset : %s\n' % accuracy_train)

# predict the target on the test dataset
predict_test = coag_superforest(rf_list, X_valid)
print('Targets found on test data %.2f/%.2f'%(sum(predict_test),sum(y_valid))) 
print("Correct positives: %s\nCorrect negatives: %s\nFalse positives: %s\nFalse negatives: %s" % calc_stats(predict_test, y_valid))

# Accuracy Score on test dataset
accuracy_test = accuracy_score(y_valid,predict_test)
print('accuracy_score on test dataset : ', accuracy_test)

NameError: name 'rf' is not defined